webdriver-manager>=3.8.0
selenium>=4.21.0
streamlit>=1.20.0
pandas>=1.5.0
browser_cookie3>=0.20.1
lz4>=4.0.0
beautifulsoup4>=4.14.2
requests>=2.31.0
pdfplumber>=0.11.0
pypika>=0.51.1
simplejson>=3.19.3
